<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
	      <pattern>%date [%t] %level %logger{10} [%file:%line] %msg%n</pattern>
	    </encoder>
	</appender>
    
    <logger name="com.crossover.jobs" level="INFO" /> 

	<logger name="org.apache" level="WARN" />
	<logger name="org.springframework" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>